.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 100%;

	@include tablet-landscape {
		max-width: 980px;
	}

	@include desktop {
		max-width: 1024px;
	}
}

main {
	padding-top: 90px;
	padding-bottom: 90px;
}

.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);

	@include tablet-potrait {
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
