/*==================================
=            Typography            =
==================================*/

body {
	font-family: $font-default;
	font-weight: $body-font;
	line-height: $line-height-base;
	font-size: $font-size-base;
}

/*----------  Heading  ----------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $heading-font;
}

dl,
dt,
dd,
ol,
ul,
li {
	padding: 0;
}

a {
	color: $theme-color;
}

em,
i {
	font-style: italic;
}

strong,
b {
	font-weight: bold;
}

.c-link-initial {
	text-decoration: none;
	color: inherit;
}

.c-page-title {
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 18px;
}
