//-------------------- Base Colors --------------------//

$white: #fff;
$black: #000;

$theme-color: #f48281;
$secondary-color: #94d196;
$body-color: $black;
$heading-color: $black;

//-------------------- Border --------------------//

$border-color: $theme-color;

//-------------------- Line Height --------------------//

$line-height-base: 1.5;
$line-height-content: 1.8;

//-------------------- Margins --------------------//

$margin-base: 50px;
$margin-small: 30px;
$margin-big: 80px;

//-------------------- Fonts --------------------//

$font-default: 'Montserrat', sans-serif;
$body-font: 400;
$heading-font: 700;

//-------------------- Font Sizes --------------------//

$font-size-base: 16px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-base;
$font-size-h6: 12px;

//-------------------- Transition --------------------//

$ease-in-out-5s: all 0.5s ease-in-out;
$ease-in-out-3s: all 0.3s ease-in-out;
$ease-in-out-2s: all 0.2s ease-in-out;

//-------------------- Box Shadow --------------------//
$box-shadow-default: 5px 7px 15px 0px #ddd;
